*.orig
simple_BACKUP_334.html
simple_BACKUP_545.html
simple_BACKUP_724.html
simple_BACKUP_842.html
simple_BASE_334.html
simple_BASE_545.html
simple_BASE_724.html         
simple_LOCAL_334.html  
simple_REMOTE_334.html
simple_LOCAL_545.html  
simple_REMOTE_545.html
simple_LOCAL_724.html  
simple_REMOTE_724.html
